In [1]:
import seaborn as sns
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
PATH1 = './data/OBS_ASOS_TIM_20221204004425.csv'
PATH2 = './data/OBS_ASOS_TIM_20221204004552.csv'
PATH3 = './data/OBS_ASOS_TIM_20221204004614.csv'
PATH4 = './data/OBS_ASOS_TIM_20221204004818.csv'
PATH5 = './data/OBS_ASOS_TIM_20221204004958.csv'
PATH6 = './data/OBS_ASOS_TIM_20221204005033.csv'

In [3]:
df1 = pd.read_csv(PATH1, encoding='cp949')
df2 = pd.read_csv(PATH2, encoding='cp949')
df3 = pd.read_csv(PATH3, encoding='cp949')
df4 = pd.read_csv(PATH4, encoding='cp949')
df5 = pd.read_csv(PATH5, encoding='cp949')
df6 = pd.read_csv(PATH6, encoding='cp949')

In [4]:
res = pd.concat([df1, df2,df3,df4,df5,df6])

In [5]:
WEATHER_DATA_PATH = './data/weather.csv'
weather_df = res
weather_df

       지점 지점명                일시  기온(°C)  기온 QC플래그  강수량(mm)  강수량 QC플래그
0     192  진주  2016-02-01 01:00    -0.4       0.0      NaN        NaN
1     192  진주  2016-02-01 02:00    -1.7       0.0      NaN        NaN
2     192  진주  2016-02-01 03:00    -2.1       0.0      NaN        NaN
3     192  진주  2016-02-01 04:00    -2.5       0.0      NaN        NaN
4     192  진주  2016-02-01 05:00    -3.1       0.0      NaN        NaN
...   ...  ..               ...     ...       ...      ...        ...
1626  192  진주  2021-04-09 19:00    12.5       NaN      NaN        NaN
1627  192  진주  2021-04-09 20:00    12.1       NaN      NaN        NaN
1628  192  진주  2021-04-09 21:00    11.2       NaN      NaN        NaN
1629  192  진주  2021-04-09 22:00    10.6       NaN      NaN        NaN
1630  192  진주  2021-04-09 23:00     9.8       NaN      NaN        NaN

[45588 rows x 7 columns]

In [6]:
weather_df = weather_df.drop(['지점', '기온 QC플래그', '강수량 QC플래그'],axis=1)
weather_df

     지점명                일시  기온(°C)  강수량(mm)
0     진주  2016-02-01 01:00    -0.4      NaN
1     진주  2016-02-01 02:00    -1.7      NaN
2     진주  2016-02-01 03:00    -2.1      NaN
3     진주  2016-02-01 04:00    -2.5      NaN
4     진주  2016-02-01 05:00    -3.1      NaN
...   ..               ...     ...      ...
1626  진주  2021-04-09 19:00    12.5      NaN
1627  진주  2021-04-09 20:00    12.1      NaN
1628  진주  2021-04-09 21:00    11.2      NaN
1629  진주  2021-04-09 22:00    10.6      NaN
1630  진주  2021-04-09 23:00     9.8      NaN

[45588 rows x 4 columns]

In [7]:
weather_df = weather_df.fillna(0) #비가 안내리면 관측값이 없음으로 NaN이뜸 그래서 0으로 채움
weather_df

     지점명                일시  기온(°C)  강수량(mm)
0     진주  2016-02-01 01:00    -0.4      0.0
1     진주  2016-02-01 02:00    -1.7      0.0
2     진주  2016-02-01 03:00    -2.1      0.0
3     진주  2016-02-01 04:00    -2.5      0.0
4     진주  2016-02-01 05:00    -3.1      0.0
...   ..               ...     ...      ...
1626  진주  2021-04-09 19:00    12.5      0.0
1627  진주  2021-04-09 20:00    12.1      0.0
1628  진주  2021-04-09 21:00    11.2      0.0
1629  진주  2021-04-09 22:00    10.6      0.0
1630  진주  2021-04-09 23:00     9.8      0.0

[45588 rows x 4 columns]

In [8]:
# idx = pd.concat(idx1, idx2,idx3,idx4,idx5,idx6)
weather_df =weather_df[weather_df['일시'].str.contains('11:00') | weather_df['일시'].str.contains('12:00') | weather_df['일시'].str.contains('13:00')|weather_df['일시'].str.contains('17:00') | weather_df['일시'].str.contains('18:00') | weather_df['일시'].str.contains('19:00')]
weather_df

     지점명                일시  기온(°C)  강수량(mm)
10    진주  2016-02-01 11:00     1.8      0.0
11    진주  2016-02-01 12:00     3.0      0.0
12    진주  2016-02-01 13:00     4.2      0.0
16    진주  2016-02-01 17:00     3.0      0.0
17    진주  2016-02-01 18:00     0.9      0.0
...   ..               ...     ...      ...
1619  진주  2021-04-09 12:00    16.8      0.0
1620  진주  2021-04-09 13:00    17.0      0.0
1624  진주  2021-04-09 17:00    14.3      0.0
1625  진주  2021-04-09 18:00    13.8      0.0
1626  진주  2021-04-09 19:00    12.5      0.0

[11396 rows x 4 columns]

In [9]:
date = weather_df['일시'].str.slice(stop=10)
date

10      2016-02-01
11      2016-02-01
12      2016-02-01
16      2016-02-01
17      2016-02-01
           ...
1619    2021-04-09
1620    2021-04-09
1624    2021-04-09
1625    2021-04-09
1626    2021-04-09
Name: 일시, Length: 11396, dtype: object

In [10]:
time = weather_df['일시'].str.slice(start=11)
time

10      11:00
11      12:00
12      13:00
16      17:00
17      18:00
        ...
1619    12:00
1620    13:00
1624    17:00
1625    18:00
1626    19:00
Name: 일시, Length: 11396, dtype: object

In [11]:
weather_df = weather_df.drop(['일시'],axis=1)
weather_df

     지점명  기온(°C)  강수량(mm)
10    진주     1.8      0.0
11    진주     3.0      0.0
12    진주     4.2      0.0
16    진주     3.0      0.0
17    진주     0.9      0.0
...   ..     ...      ...
1619  진주    16.8      0.0
1620  진주    17.0      0.0
1624  진주    14.3      0.0
1625  진주    13.8      0.0
1626  진주    12.5      0.0

[11396 rows x 3 columns]

In [12]:
# type(idx1)
weather_df.insert(3,'일자',date)
weather_df.insert(3,'시간', time)
weather_df

     지점명  기온(°C)  강수량(mm)     시간          일자
10    진주     1.8      0.0  11:00  2016-02-01
11    진주     3.0      0.0  12:00  2016-02-01
12    진주     4.2      0.0  13:00  2016-02-01
16    진주     3.0      0.0  17:00  2016-02-01
17    진주     0.9      0.0  18:00  2016-02-01
...   ..     ...      ...    ...         ...
1619  진주    16.8      0.0  12:00  2021-04-09
1620  진주    17.0      0.0  13:00  2021-04-09
1624  진주    14.3      0.0  17:00  2021-04-09
1625  진주    13.8      0.0  18:00  2021-04-09
1626  진주    12.5      0.0  19:00  2021-04-09

[11396 rows x 5 columns]

------

In [13]:
CAFETERIA_DATA_PATH = "./data/train.csv"
cafeteria_df = pd.read_csv(CAFETERIA_DATA_PATH)
cafeteria_df

,일자,요일,본사정원수,본사휴가자수,본사출장자수,본사시간외근무명령서승인건수,현본사소속재택근무자수,조식메뉴,중식메뉴,석식메뉴,중식계,석식계
0,2016-02-01,월,2601,50,150,238,0.0,모닝롤/찐빵 우유/두유/주스 계란후라이 호두죽/쌀밥 (쌀:국내산) 된장찌개 쥐...,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 오징어찌개 쇠불고기 (쇠고기:호주산) 계란찜 ...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 육개장 자반고등어구이 두부조림 건파래무침 ...",1039.0,331.0
1,2016-02-02,화,2601,50,173,319,0.0,모닝롤/단호박샌드 우유/두유/주스 계란후라이 팥죽/쌀밥 (쌀:국내산) 호박젓국찌...,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 김치찌개 가자미튀김 모둠소세지구이 마늘쫑무...","콩나물밥*양념장 (쌀,현미흑미:국내산) 어묵국 유산슬 (쇠고기:호주산) 아삭고추무...",867.0,560.0
2,2016-02-03,수,2601,56,180,111,0.0,모닝롤/베이글 우유/두유/주스 계란후라이 표고버섯죽/쌀밥 (쌀:국내산) 콩나물국...,"카레덮밥 (쌀,현미흑미:국내산) 팽이장국 치킨핑거 (닭고기:국내산) 쫄면야채무침 ...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 청국장찌개 황태양념구이 (황태:러시아산) 고기...",1017.0,573.0
3,2016-02-04,목,2601,104,220,355,0.0,"모닝롤/토마토샌드 우유/두유/주스 계란후라이 닭죽/쌀밥 (쌀,닭:국내산) 근대국...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 쇠고기무국 주꾸미볶음 부추전 시금치나물 ...","미니김밥*겨자장 (쌀,현미흑미:국내산) 우동 멕시칸샐러드 군고구마 무피클 포...",978.0,525.0
4,2016-02-05,금,2601,278,181,34,0.0,모닝롤/와플 우유/두유/주스 계란후라이 쇠고기죽/쌀밥 (쌀:국내산) 재첩국 방...,"쌀밥/잡곡밥 (쌀,현미흑미:국내산) 떡국 돈육씨앗강정 (돼지고기:국내산) 우엉잡채...","쌀밥/잡곡밥 (쌀,현미흑미:국내산) 차돌박이찌개 (쇠고기:호주산) 닭갈비 (닭고기:...",925.0,330.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1200,2021-01-20,수,2983,75,198,4,391.0,모닝롤/페퍼로니피자 우유/주스 계란후라이/찐계란 크루통크림스프/흑미밥 아귀지리 마늘...,쌀밥/흑미밥/찰현미밥 아욱국 수제함박스테이크 견과류마카로니범벅 생깻잎지 단호박물김치...,김치볶음밥 미니쫄우동*맛살튀김 브로콜리깨소스무침 계란후라이 고들빼기무침 겉절이김치,1093.0,421.0
1201,2021-01-21,목,2983,92,231,462,351.0,모닝롤/생크림단팥빵 우유/주스 계란후라이/찐계란 누룽지탕/흑미밥 떡국 해물땡굴소스볶...,쌀밥/수수밥/찰현미밥 냉이된장국 동파육 봄동전 청경채/버섯숙회*초장 무생채 양상추샐...,흑미밥 쇠고기무국 삼치양념구이 비엔나채소볶음 숙주나물당근무침 포기김치,832.0,353.0
1202,2021-01-22,금,2983,255,248,1,303.0,모닝롤/BLT샌드위치 우유/주스 계란후라이/찐계란 흑임자죽/흑미밥 바지락살국 두부조...,전주비빔밥*약고추장 계란파국 요거닭 올방개묵무침 파프리카해초무침 포기김치 양상추샐러...,흑미밥 수제비국 수제맛쵸킹탕수육 유부채소겨자냉채 참나물무침 갓김치/겉절이김치,579.0,217.0
1203,2021-01-25,월,2983,107,153,616,327.0,모닝롤/호박고구마오븐구이 우유/주스 계란후라이/찐계란 누룽지탕/흑미밥 감자양파국 분...,쌀밥/흑미밥/찰현미밥 전주식콩나물해장국 돈육간장불고기 깐풍연근 연두부*달래양념장 봄...,흑미밥 열무된장국 장어강정*데리야끼소스 깻잎쌈*생강채 오이선 포기김치,1145.0,502.0
1204,2021-01-26,화,2983,69,183,551,362.0,모닝롤/야채샌드 우유/주스 계란후라이/찐계란 참치죽/흑미밥 홍합탕 애호박새우젓볶음 ...,쌀밥/귀리밥/찰현미밥 들깨미역국 교촌간장치킨 옥수수콘치즈구이 가지고추장무침 포기김치...,(New)할라피뇨멸치주먹밥 잔치국수 수제고기육전 쑥갓나물 양파초절임 깍두기,1015.0,480.0

In [14]:
count_person_df=cafeteria_df[['본사정원수', '본사휴가자수', '본사출장자수', '본사시간외근무명령서승인건수', '현본사소속재택근무자수']]
count_person_df

      본사정원수  본사휴가자수  본사출장자수  본사시간외근무명령서승인건수  현본사소속재택근무자수
0      2601      50     150             238          0.0
1      2601      50     173             319          0.0
2      2601      56     180             111          0.0
3      2601     104     220             355          0.0
4      2601     278     181              34          0.0
...     ...     ...     ...             ...          ...
1200   2983      75     198               4        391.0
1201   2983      92     231             462        351.0
1202   2983     255     248               1        303.0
1203   2983     107     153             616        327.0
1204   2983      69     183             551        362.0

[1205 rows x 5 columns]

In [15]:
count_person_df = count_person_df['본사정원수'] - count_person_df['본사휴가자수'] - count_person_df['본사출장자수'] - count_person_df['본사시간외근무명령서승인건수'] - count_person_df['현본사소속재택근무자수']

In [16]:
cafeteria_df = cafeteria_df.assign(인원수 = count_person_df)
cafeteria_df = cafeteria_df.drop(['본사정원수','본사휴가자수','본사출장자수','본사시간외근무명령서승인건수', '현본사소속재택근무자수','조식메뉴'], axis=1)

In [17]:
weather_df = weather_df.merge(cafeteria_df)

In [18]:
weather_df.to_csv(WEATHER_DATA_PATH, index=False)