In [1]:
import seaborn as sns
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
PATH1 = './data/OBS_ASOS_TIM_20221204004425.csv'
PATH2 = './data/OBS_ASOS_TIM_20221204004552.csv'
PATH3 = './data/OBS_ASOS_TIM_20221204004614.csv'
PATH4 = './data/OBS_ASOS_TIM_20221204004818.csv'
PATH5 = './data/OBS_ASOS_TIM_20221204004958.csv'
PATH6 = './data/OBS_ASOS_TIM_20221204005033.csv'

In [3]:
df1 = pd.read_csv(PATH1, encoding='cp949')
df2 = pd.read_csv(PATH2, encoding='cp949')
df3 = pd.read_csv(PATH3, encoding='cp949')
df4 = pd.read_csv(PATH4, encoding='cp949')
df5 = pd.read_csv(PATH5, encoding='cp949')
df6 = pd.read_csv(PATH6, encoding='cp949')

In [4]:
res = pd.concat([df1, df2,df3,df4,df5,df6])

In [5]:
WEATHER_DATA_PATH = './data/weather.csv'
weather_df = pd.read_csv(WEATHER_DATA_PATH)
weather_df

        지점 지점명                일시  기온(°C)  기온 QC플래그  강수량(mm)  강수량 QC플래그
0      192  진주  2016-02-01 01:00    -0.4       0.0      NaN        NaN
1      192  진주  2016-02-01 02:00    -1.7       0.0      NaN        NaN
2      192  진주  2016-02-01 03:00    -2.1       0.0      NaN        NaN
3      192  진주  2016-02-01 04:00    -2.5       0.0      NaN        NaN
4      192  진주  2016-02-01 05:00    -3.1       0.0      NaN        NaN
...    ...  ..               ...     ...       ...      ...        ...
45583  192  진주  2021-04-09 19:00    12.5       NaN      NaN        NaN
45584  192  진주  2021-04-09 20:00    12.1       NaN      NaN        NaN
45585  192  진주  2021-04-09 21:00    11.2       NaN      NaN        NaN
45586  192  진주  2021-04-09 22:00    10.6       NaN      NaN        NaN
45587  192  진주  2021-04-09 23:00     9.8       NaN      NaN        NaN

[45588 rows x 7 columns]

In [6]:
weather_df = weather_df.drop(['기온 QC플래그','강수량 QC플래그'],axis=1)
weather_df

        지점 지점명                일시  기온(°C)  강수량(mm)
0      192  진주  2016-02-01 01:00    -0.4      NaN
1      192  진주  2016-02-01 02:00    -1.7      NaN
2      192  진주  2016-02-01 03:00    -2.1      NaN
3      192  진주  2016-02-01 04:00    -2.5      NaN
4      192  진주  2016-02-01 05:00    -3.1      NaN
...    ...  ..               ...     ...      ...
45583  192  진주  2021-04-09 19:00    12.5      NaN
45584  192  진주  2021-04-09 20:00    12.1      NaN
45585  192  진주  2021-04-09 21:00    11.2      NaN
45586  192  진주  2021-04-09 22:00    10.6      NaN
45587  192  진주  2021-04-09 23:00     9.8      NaN

[45588 rows x 5 columns]

In [7]:
weather_df = weather_df.fillna(0) #비가 안내리면 관측값이 없음으로 NaN이뜸 그래서 0으로 채움
weather_df

        지점 지점명                일시  기온(°C)  강수량(mm)
0      192  진주  2016-02-01 01:00    -0.4      0.0
1      192  진주  2016-02-01 02:00    -1.7      0.0
2      192  진주  2016-02-01 03:00    -2.1      0.0
3      192  진주  2016-02-01 04:00    -2.5      0.0
4      192  진주  2016-02-01 05:00    -3.1      0.0
...    ...  ..               ...     ...      ...
45583  192  진주  2021-04-09 19:00    12.5      0.0
45584  192  진주  2021-04-09 20:00    12.1      0.0
45585  192  진주  2021-04-09 21:00    11.2      0.0
45586  192  진주  2021-04-09 22:00    10.6      0.0
45587  192  진주  2021-04-09 23:00     9.8      0.0

[45588 rows x 5 columns]

In [8]:
idx1 = weather_df[weather_df['일시'].str.contains('11:00')].index
idx2 = weather_df[weather_df['일시'].str.contains('12:00')].index
idx3 = weather_df[weather_df['일시'].str.contains('13:00')].index
idx4 = weather_df[weather_df['일시'].str.contains('17:00')].index
idx5 = weather_df[weather_df['일시'].str.contains('18:00')].index
idx6 = weather_df[weather_df['일시'].str.contains('19:00')].index

In [9]:
# idx = pd.concat(idx1, idx2,idx3,idx4,idx5,idx6)
weather_df =weather_df[weather_df['일시'].str.contains('11:00') | weather_df['일시'].str.contains('12:00') | weather_df['일시'].str.contains('13:00')|weather_df['일시'].str.contains('17:00') | weather_df['일시'].str.contains('18:00') | weather_df['일시'].str.contains('19:00')]
weather_df

        지점 지점명                일시  기온(°C)  강수량(mm)
10     192  진주  2016-02-01 11:00     1.8      0.0
11     192  진주  2016-02-01 12:00     3.0      0.0
12     192  진주  2016-02-01 13:00     4.2      0.0
16     192  진주  2016-02-01 17:00     3.0      0.0
17     192  진주  2016-02-01 18:00     0.9      0.0
...    ...  ..               ...     ...      ...
45576  192  진주  2021-04-09 12:00    16.8      0.0
45577  192  진주  2021-04-09 13:00    17.0      0.0
45581  192  진주  2021-04-09 17:00    14.3      0.0
45582  192  진주  2021-04-09 18:00    13.8      0.0
45583  192  진주  2021-04-09 19:00    12.5      0.0

[11396 rows x 5 columns]

In [10]:
date = weather_df['일시'].str.slice(stop=10)
date

10       2016-02-01
11       2016-02-01
12       2016-02-01
16       2016-02-01
17       2016-02-01
            ...
45576    2021-04-09
45577    2021-04-09
45581    2021-04-09
45582    2021-04-09
45583    2021-04-09
Name: 일시, Length: 11396, dtype: object

In [11]:
time = weather_df['일시'].str.slice(start=11)
time

10       11:00
11       12:00
12       13:00
16       17:00
17       18:00
         ...
45576    12:00
45577    13:00
45581    17:00
45582    18:00
45583    19:00
Name: 일시, Length: 11396, dtype: object

In [12]:
weather_df = weather_df.drop(['일시'],axis=1)
weather_df

        지점 지점명  기온(°C)  강수량(mm)
10     192  진주     1.8      0.0
11     192  진주     3.0      0.0
12     192  진주     4.2      0.0
16     192  진주     3.0      0.0
17     192  진주     0.9      0.0
...    ...  ..     ...      ...
45576  192  진주    16.8      0.0
45577  192  진주    17.0      0.0
45581  192  진주    14.3      0.0
45582  192  진주    13.8      0.0
45583  192  진주    12.5      0.0

[11396 rows x 4 columns]

In [13]:
# type(idx1)
weather_df.insert(3,'일자',date)
weather_df.insert(3,'시간', time)
weather_df

        지점 지점명  기온(°C)     시간          일자  강수량(mm)
10     192  진주     1.8  11:00  2016-02-01      0.0
11     192  진주     3.0  12:00  2016-02-01      0.0
12     192  진주     4.2  13:00  2016-02-01      0.0
16     192  진주     3.0  17:00  2016-02-01      0.0
17     192  진주     0.9  18:00  2016-02-01      0.0
...    ...  ..     ...    ...         ...      ...
45576  192  진주    16.8  12:00  2021-04-09      0.0
45577  192  진주    17.0  13:00  2021-04-09      0.0
45581  192  진주    14.3  17:00  2021-04-09      0.0
45582  192  진주    13.8  18:00  2021-04-09      0.0
45583  192  진주    12.5  19:00  2021-04-09      0.0

[11396 rows x 6 columns]

In [15]:
weather_df.to_csv(WEATHER_DATA_PATH, index=False)